[styles]

# rich_click
option = bold cyan
argument = bold cyan
switch = bold green
metavar = bold yellow
metavar_sep = dim
usage = yellow

# CI Toolkit
pyci.info = blue
pyci.success = green
pyci.error = red
pyci.critical = black on red
pyci.flair = rgb(146,202,85)
pyci.flair_dark = rgb(75,115,90)
pyci.action = green
pyci.query = yellow
pyci.search_highlight = yellow underline
pyci.command = yellow

# Regex to search for Rich markup style tags: ["'].*\[[a-z\.]*\]